<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaoli.xiaoliadminservice.user.mapper.SysUserMapper">


    <select id="selectUserList" parameterType="org.xiaoli.xiaoliadminservice.user.domain.entity.SysUser" resultType="org.xiaoli.xiaoliadminservice.user.domain.entity.SysUser">
        select *from sys_user
        <where>
            <if test="id !=null and id != ''">
                AND id = #{id}
            </if>
            <if test="phoneNumber !=null and phoneNumber != ''">
                AND phone_number = #{phoneNumber}
            </if>
            <if test="status !=null and status != ''">
                AND status = #{status}
            </if>
        </where>
    </select>
</mapper>